.speaker-image img {
    border-radius: 0;
}
input {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 15px;
    background: transparent;
    border: none;
    color: #fff;
    text-align: left;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
}

button {
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    padding: 12px 35px;
    letter-spacing: 1px;
    background-color: #212121;
    border: none;
    outline: none;
    margin: 0;
    text-align: left;
    display: inline-block;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    transition: all 250ms linear;
}
#invitationPanel img {
    border: 5px solid rgba(255, 255, 255, 0.5);
}
