.client__body {
    font-weight: bold;
    color: #444;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
}

    .client__body ul {
        display: inline-flex;
    }

.isotope-filter_links ul li a {
    color: #1a1a1a;
    font-size: 15px;
    background-color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px 12px;
    border-radius: 3px;
}

.isotope-filter_links li a.active {
    background-color: #14B0D7;
    color: #fff;
}

.isotope-filter_links ul li {
    margin-right: 2px;
    margin-bottom: 17px;
}

.partner__list {
    flex-wrap: wrap;
}

    .partner__list .partner__item {
        margin: 5px;
    }

.display-none,
.display-hide {
    display: none;
}

.guide-detail__left {
    z-index: 99;
}

.guide-detail__left--inner {
    width: 300px;
}

li.parent a:hover {
    color: #7EB142;
}

.contact__from-right textarea {
    width: 100%;
    padding: 10px;
    background-color: #7eb1424a;
    border: none;
    border-radius: 5px;
}

.head__two--nav > ul > li > ul > li:hover {
    background-color: #454545;
    color: #7EB142;
}

.head__two--nav > ul > li > ul > li > a {
    color: #7EB142;
    text-transform: uppercase;
}

.head__two--nav > ul > li > a {
    text-decoration: none;
}

.navbar-toggle {
    display: flex;
    flex-direction: COLUMN;
    border: 1px solid #FFF;
    padding: 10px;
    border-radius: 5px;
}

    .navbar-toggle .icon-bar {
        background-color: #FFF;
    }


@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .head {
        background-color: #fff;
    }

    .btn-outline {
        border: 1px solid #7eb142;
        color: #7eb142;
    }

    .navbar-toggle .icon-bar {
        background-color: #333;
    }

    .navbar-toggle {
        border: 1px solid #333;
    }

    .head__one {
        display: none;
    }

    .head__two--user {
        display: none;
    }

    #menu-sm-dangnhap, #menu-sm-dangky {
        display: block;
    }

    #aSignin, #aSignup {
        display: none;
    }
    .fb-customerchat,.fb_dialog{
        display: none !important;
    }
}


@media only screen and (max-width: 384px) and (min-width: 200px) {
    .head__two--user {
        display: none;
    }

    #menu-sm-dangnhap, #menu-sm-dangky {
        display: block;
    }

    #aSignin, #aSignup {
        display: none;
    }
}

/*@media only screen and (min-width: 321px) {

    #aSignin, #aSignup {
        display: inline-flex;
    }
    #menu-sm-dangnhap, #menu-sm-dangky {
        display: none;
    }
}*/
p, div {
    font-size: 15px;
    line-height: 1.7;
}

.three-slider__title a {
    margin: 0 0 15px;
    color: #001645;
    font-weight: bold;
}

.price__item div, .price__item p {
    line-height: 1.42857143;
}

.headline__intro--title {
    text-transform: uppercase;
}

div#bs-example-navbar-collapse-1 {
    text-transform: uppercase;
}

#bs-example-navbar-collapse-1 .dropdown-menu a {
    text-transform: capitalize;
}
/*#divAccount :hover + .dropdown-menu {
    display: block;
}*/

.head__one--language--list {
    top: 35px !important;
}

    .head__one--language--list a {
        cursor: pointer;
    }

@media only screen and (max-width: 768px) and (min-width: 200px) {
    .news-detail__content {
        padding: 0px;
    }
}
*:not(i) {
    font-family: Muli !important;
}
.news-detail.mt125, .news-detail, .mt125 {
    font-family: Muli !important;
}
.footer__phone--right a {
    color: #FFF;
}
